<div class="container">
    <h1>
        Tapacocas
    </h1>
    <h3>
        Lávese las manos muy bien con agua y jabón
    </h3>
    <p>
        Oriente la parte superior del tapabocas correctamente: Para que quede lo más cerca posible de su piel, tenga en
        cuenta que la parte superior del mismo tiene un borde flexible que puedes moldear alrededor de tu nariz.
        Cercióreese
        que ese lado esté orientado hacia arriba antes de colocarte el tapabocas.
        Ajuste el tapabocas a su cara y debajo de su barbilla: una vez que el tapabocas esté totalmente asegurado,
        acomódelo
        para que cubra cara y boca, de modo que el borde inferior quede debajo de su barbilla.
        Recuerda que el tapabocas no dura más de 8 horas diarias .
        Cámbielo, lávelo con abundante agua y jabón, deje secar y reutilice.
    </p>
</div>