<div class="container">
    <h1>Pulso Oximetro</h1>
    <p>
        Este aparato que le ayudará a medir el oxígeno de los tejidos ; lo debe usar de la siguiente forma:
    </p>
    <ul>
        <li>
            Limpie la superficie del sensor, con un paño suave o un algodón.
            Colócaque el dedo, asegurando que el sensor quede a la altura de la uña (debe tener las uñas bien limpias y
            sin restos de esmalte, ya que esto podría variar la medición).
        </li>
        <li>
            Durante la medición es importante que no se mueva.
        </li>
        <li>Una vez detectado el pulso, el medidor te mostrará los valores de oxígeno (SpO2) y el ritmo de tu corazón.
        </li>
    </ul>

    <p>
        ¿Cuáles son los niveles de saturación de oxígeno?
    </p>
    <ul>
        <li>
            Por encima de 95% muestra que está bien.
        </li>
        <li>
            De 95% a 90% debe recibir tratamiento, monitorización y acudir a urgencias, aunque, para algunos pacientes
            crónicos éste es un valor normal.
        </li>
        <li>
            Menor a 90 % debe acudir a urgencias lo más pronto posible.
        </li>
    </ul>

    <p>
        También te medirá el ritmo cardíaco, cuyos valores normales según la edad son:
    </p>
    <ul>
        <li>
            0 a 5 años: normal entre 120 y 150.
        </li>
        <li>
            6 a 12 años: normal entre 60 y 120.
        </li>
        <li>
            Adolescente: normal entre 60 y 105.
        </li>
        <li>
            Adulto: normal entre 60 y 80.
        </li>
    </ul>
</div>