<div class="container">
    <h1>Gel bacteriano</h1>
    <p>
        El alcohol en gel no es un sustituto de lavado de manos, sin embargo, son un complemento de higiene de las
        manos,
        cuando no es fácil recurrir al lavado con agua y jabón.
        Tenga en cuenta las siguientes recomendaciones:
    </p>
    <ol>
        <li>Solo si no tienes un baño donde pueda lavarse las manos apropiadamente, reemplace por alcohol gel. Al llegar
            a un
            lugar donde haya un lugar apto para el lavado de manos, lávelas.</li>
        <li>Aplique el producto en la palma de la mano, fróte las manos una con otra, asegure que el gel llegue a toda
            la
            superﬁcie de las manos y dedos y deje secar.</li>
        <li>Un buen lavado de las manos cada 2 horas, usando agua limpia y jabón, es la mejor forma de disminuir la
            cantidad
            de gérmenes causantes de enfermedades, previniendo así su aparición.</li>
    </ol>
</div>