<div class="container">
    <h1>Prevención contagio covid 19</h1>
    <p>
        Usted deberá utilizar medidas de protección tales como:
    </p>
    <ul>
        <li>
            Utilizar el tabocas correctamente si presenta síntomas de gripa (resfriado).
        </li>
        <li>
            Lavado de manos frecuente, donde el contacto con el jabón debe durar mínimo 20 - 30 segundos en especial al
            llegar a la casa, antes de preparar y consumir alimentos y bebidas, antes y después de usar el baño, cuando
            las
            manos
            están contaminadas por secreción respiratoria, después de toser o estornudar, después del cambio de pañales
            de
            niños, niñas.
        </li>
        <li>
            Cubrir con la parte interna del codo al estornudar o toser.
        </li>
        <li>
            Mantener la ventilación e iluminación natural de la vivienda
        </li>
        <li>
            Evitar conglomerado de personas.
        </li>
        <li>
            Incrementar actividades de limpieza y desinfección de paredes, pisos, techos y superficies, lo que permite
            la
            prevención.
        </li>
        <li>
            No saludar con besos ni abrazos ni dar la mano
        </li>
        <li>
            Mantener la ventilación e iluminación natural de la vivienda.
        </li>
        <li>
            Restringir las visitas a familiares y amigos si presenta gripa
        </li>
        <li>
            Lavado de los alimentos como frutas, verduras, etc.
        </li>
        <li>
            Al llegar a la casa antes de tener contacto con los miembros de su familia: lavese las manos, cambiese ropa,
            desinfectar en los posibles los elementos que se trajeron de afuera, limpiar el celular.
        </li>
    </ul>
</div>