<div class="container">
    <h1>Manejo de gripa</h1>

    <ul>
        <li>
            Lavarse bien y manera frecuente las manos y utilizar pañuelos desechables.
        </li>
        <li>
            Tápese la nariz y boca con el pliegue interno del codo al toser y al estornudar para evitar contagios.
        </li>
        <li>
            Evite cambios bruscos de temperatura y protejasé del frío.
        </li>
        <li>
            Evite el cigarrillo o tabaco.
        </li>
        <li>
            Beba gran cantidad de líquidos para que las secreciones sean más diluidas.
        </li>
        <li>
            En niños pequeños, es útil hacer lavados de las fosas de la nariz con suero fisiológico como le ha enseñado
            su medico o pediatra.
        </li>
        <li>
            Manejar la fiebre con medios fisicos o de acuerdo a la recomendaciones medicas de uso de medicamentos para
            la fiebre.
        </li>
    </ul>

    <h2>
        Educación signos de alarma:
    </h2>
    <p>
        Si presenta alguno de los siguientes signos de alarma acuda a urgencias:
    </p>
    <ul>
        <li>
            Respiración rápida
        </li>
        <li>
            Fiebre 38 grados o más tomado con termometro por más de dos días
        </li>
        <li>
            Pecho que suena o duele
        </li>
        <li>
            Somnolencia o dificultad para despertar
        </li>
        <li>
            Ataques o convulsiones
        </li>
        <li>
            Deterioro rápido del estado en general
        </li>
        <li>
            Dificultad respiratoria
        </li>
    </ul>
</div>